
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">List Users</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/adduser" class="btn btn-info">Add User</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/posts" class="btn btn-info">List Posts</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addpost" class="btn btn-info">Add Posts</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container" style="width: 600px">
  <div style="margin: 20px">
    <h3>{{title}}</h3>
  </div>

  <app-upload-files></app-upload-files>
</div>
