<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #postForm="ngForm">

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" [(ngModel)]="post.title"
               class="form-control"
               id="title"
               name="title"
               placeholder="Enter your title"
               required #title="ngModel">
      </div>
      <div [hidden]="!title.pristine" class="alert alert-danger">Title is required</div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" [(ngModel)]="post.description"
        class="form-control"
        id="description"
        name="description"
        placeholder="Enter your description"
        required #description="ngModel">
        <div [hidden]="!description.pristine" class="alert alert-danger">Description is required</div>
      </div>


      <div class="form-group">
        <label for="imagePath">imagePath</label>
        <input type="text" [(ngModel)]="post.imagePath"
               [value]="currentFile.name"
               class="form-control"
               id="imagePath"
               name="imagePath"
               placeholder="Enter your imagePath">
      </div>


      <div class="form-group">




        <div *ngIf="currentFile" class="progress">
          <div
            class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar"
            attr.aria-valuenow="{{ progress }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: progress + '%' }"
          >
            {{progress}}%
          </div>
        </div>

        <label class="btn btn-default">
          <input type="file" (change)="selectFile($event)" />
        </label>


        <div class="alert alert-light" role="alert">{{message}}</div>



        <div [hidden]="selectedFiles" class="alert alert-danger">Image is required</div>
      </div>
      <button type="submit" [disabled]="!postForm.form.valid && selectedFiles" (click)="upload(post)"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
