<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Image latitude</th>
        <th scope="col">Image longitude</th>
        <th scope="col">MAP</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.description }}</td>
        <td>{{ post.imagePath }}</td>
        <td>{{ post.imageLatitude }}</td>
        <td id="longi">{{ post.imageLongitude }}</td>
        <!-- <td><img src="{{post.imagePath}}"/></td> -->
        <td>
          <div id="mapgoogle"></div>
          a: any = {{post.imageLongitude}}
          b = {{post.imageLatitude}}
          <script>
            function initMap(latitude, longitude) {
              latitude = 0.0;
              longitude = 0.0;

              var location = {lat: latitude, lng: longitude};
              var map = new google.maps.Map(document.getElementById("map"), {
                center: location,
                zoom: 10
              });
            }
          </script>
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxHomg-43Z8GmbobMsRtdFx0wEYG-KxTw&callback=initMap">
          </script>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="card">
  <div class="card-header">List of files</div>
  <ul class="list-group list-group-flush" *ngFor="let file of fileInfos | async" >
    <li class="list-group-item">
      <a href="{{file.url}}">{{file.name}}, {{file.url}}</a>
      <img src="{{file.url}}" width=100% height=100%>
    </li>
  </ul>
<ul *ngFor="let post of posts">
  <li><img src="{{post.imagePath}}" width=100% height=100%></li>
</ul>
</div>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxHomg-43Z8GmbobMsRtdFx0wEYG-KxTw&callback=initMap">
</script>


<form method="post" *ngFor="let post of posts">
  <input type="hidden" name="latit" value="{{post.imageLatitude}}" id="latit">
  </form>
